* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  padding: 350px 135px;
  background-color: hsl(217, 54%, 11%);
}

/* Classes */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-body {
  margin: 40px auto;
  padding: 2em;
  width: 40%;
  text-align: center;
  border-radius: 50px;
  background-color: hsl(216, 50%, 16%);
  box-sizing: border-box;
}

.mainImage {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.headShot {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid white;
}

.littleStuff {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto;
  border-bottom: 3px solid hsl(215, 32%, 27%);
}

.littleStuff > p {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
}

div.littleStuff p:nth-child(1) {
  color: hsl(178, 100%, 50%);
}

div.littleStuff p:nth-child(2) {
  color: hsl(215, 51%, 70%);
}

.creator {
  display: flex;
  align-items: center;
}

.creator span {
  margin-right: 5px;
  color: hsl(215, 51%, 70%);
}

/* Element Selectors */
h1 {
  text-align: left;
  margin: 30px auto;
  padding: 5px 0;
  width: 100%;
  color: hsl(0, 0%, 100%);
}

h1 ~ p {
  width: 100%;
  margin: 20px auto;
  text-align: left;
  color: hsl(0, 0%, 100%);
}

h1 + p {
  color: hsl(215, 51%, 70%);
}
